input {
  font-size: 14px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 3px;
  color: #666;
  padding: 4px 14px;
  border: 1px solid #99CDE1;
}

.inputMessage {
  border: 1px solid #e1e8ed;
  background-color: #E5F2F7;
  padding: 10px;
}

.inputMessageContent {
  width: 100%;
  box-sizing : border-box;
  padding: 8px 10px;
  border: 1px solid #99CDE1;
}

.inputMessageContent:focus {
  border-color: #56b4ef;
}
