{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },

  "globals": {
    "React": true
  },

  "plugins": [
    "react"
  ],

  "extends": "airbnb",
  "rules": {
    "allowTernary": 0,
    "no-unused-expressions": 0,
    "no-confusing-arrow" : 1,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
  }
}
