.loginForm {
    width: 260px;
    display: inline-block;
}

.loginFormForm {
}

.loginFormControl {
}

.loginFormUsername {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    transition: background .2s linear;
    padding: 4px 10px;
    outline: 0;
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 10px;
}

.loginFormUsername:focus {
    border-color: #1da1f2;
}

.loginFormIdentify {
    background-color: #1da1f2;
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    transition: background .2s linear;
    margin: 0;
    outline: 0;
    border: 0;
    box-shadow: none;
    font-size: 16px;
    font-weight: normal;
    padding: 11px 16px;
}

.loginFormIdentify:active {
    background-color: #3b88c3;
}