.navigationBar {
    backface-visibility: hidden;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 1px 0 1px rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #ffffff;
    height: 46px;
    display: flex;
    justify-content: center;
}

.navigationBarUl {
    padding: 0;
    margin: 0;
    display: flex;
}

.navigationBarLi {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 46px;
    color: #66757f;
    overflow: hidden;
}
