.navigationLink {
    text-align: center;
    border-bottom: 5px solid #0084b4;
    transition: all .15s ease-in-out;
    color: inherit;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 0 14px 0 4px;
}

.navigationLink {
    justify-content: center;
    height: 46px;
    display: flex;
}
.navigationLink__link {
}

.navigationLink__label {
}
