.navigationLink {
    text-align: center;
    border-bottom: 5px solid #0084b4;
    transition: all .15s ease-in-out;
    color: inherit;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 0 14px 0 4px;
}

.navigationLink {
    justify-content: center;
    height: 46px;
    display: flex;
}

.navigationLinkIcon {
    margin-left: 3px;
    margin-top: 13px;
    margin-right: 2px;
    font-size: 20px;
}

.navigationLinkLink {
    text-align: center;
    height: 46px;
    border-bottom: 5px solid #0084b4;
    transition: all .15s ease-in-out;
    color: inherit;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 0 14px 0 4px;
    display: flex;
    justify-content: center;
}

.navigationLink.active {
    height: 42px;
}

.navigationLink:hover {
    height: 42px;
    color: #0084B4;
}

.navigationLinkLabel {
    margin-left: 3px;
    margin-top: 17px;
}
