body {
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #f5f8fa;
}

*:focus {
  outline: none;
}

.app {
  display: flex;
  justify-content: center;
  padding: 150px 0;
}

.messageBox {
  width: 600px;
}
