.messages {
  background-color: #ffffff;
}

.messagesUl {
  padding: 0;
  margin: 0;
  border: 1px solid #e1e8ed;
  border-top: none;
  border-bottom: none;

}

.messagesLi {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #e1e8ed;
}

.messageEmpty {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #e1e8ed;
  border-top: none;
}